html,
body,
#root {
  height: 100%;

  --red: #e0383e;
  --orange: #f7821c;
  --yellow: #fbb927;
  --green: #62ba46;
  --teal: #10b9a6;
  --blue: #007aff;
  --purple: #953d96;
  --pink: #f74f9e;
  --brown: #a25b00;
  --gray: #848484;
  --black: #272727;
}
